* {
  padding: 0;
  margin: 0;
  outline:none;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 100px 0;
  background-image: url(https://cdn.discordapp.com/attachments/872439712948822017/872477260945424494/world-hd-background-web-design-artwork-yellow-maps-country.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: sticky;
  background-position: center;
}



#searchInput {
  background-color: rgb(228, 228, 228);
  padding-left: 50px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border-style: none;
}
.label{
 color:#fff ;
 font-size: 20px;
 font-weight: bold;
}
.searchBtn {
  height: 48px;
  width: 100px;
  border-radius: 8px;
  margin-top: 15px;
  background-color: rgb(197, 195, 195);
  border:none;
  font-size: 15px;
  cursor: pointer;
}
.img-side {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 250px;
}
.img-div {
  margin-top: 50px;
}
img {
  max-width: 100%;
}
@media screen and (max-width: 400px) {
  #searchInput {
    width: 150px;
    height: 30px;
    border-radius: 8px;
  }
}
